In [50]:
import MySQLdb as mdb
from datetime import datetime
from collections import Counter
import json
import operator

In [94]:
def mod_tgl_indo(tgl):
    tgl = tgl.split(',')
    
    hari = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
    bulan = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agusturs','September','Oktober','November','Desember']

    if len(tgl[2]) > 1:
        _bln = str(tgl[2]).replace('0','')
        
    _hari = hari[tgl[0]]
    _bulan = bulan[int(_bln) - 1]
    return tgl

In [95]:
mod_tgl_indo('01,01,01,01,01')

Minggu

['01', '01', '01', '01', '01']

In [70]:
today = datetime.today().strftime("%Y-%m-%d")
start_today = today + " 00:00:00"
end_today = today + " 23:59:59"

tables = ['indonesia', 'dunia', 'bisnis', 'teknologi', 'hiburan', 'olahraga', 'science', 'kesehatan']

all_entity = []
for t in tables:
    query = """SELECT * FROM {table_name} WHERE published_at BETWEEN '{start_today}' AND '{end_today}' AND clean_content LIKE '%India%'""".format(
        table_name=t, start_today=start_today, end_today=end_today)

    connect = mdb.connect(db_host, db_user, db_password, db_name, charset=db_charset)
    cursor = connect.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    connect.close()
    
    print(len(result))

0
9
7
3
4
10
0
3